<div class="success-wrapper">
  <div class="success-box">
    <div class="success-icon">✅</div>

    <h1>Paiement réussi</h1>
    <p>Merci pour votre commande 🙌</p>

    <a href="/" class="success-btn">
      Retour à l'accueil
    </a>
  </div>
</div>